body.index {font-family: fantasy, cursive, sans-serif;}
h1.index {color: turquoise;}
h1.who {text-align: center;position: fixed; padding: 10px;width: 100%;background-color: bisque;top: 0px; z-index: 2;}
h2.index {color: cornflowerblue;}
p.index {color: chocolate;}
p.whotop {margin-top: 100px;}
div.who {z-index: 1; overflow: auto; width: 100%;}
p.who {
    float:left;
    margin: 5px;
    padding: 5px;
    background-color: cornflowerblue;
    width: 230px;
    clear: right;
}