.projectBanner {
    text-align: center;
    z-index: 2;
    background-color: antiquewhite
}
#menu {
    border-style: solid;
    border-width: medium;
    float: left;
    padding: 2px;
    width: 170px;
    text-align: center;
}
.Menu1 {
    border-color: red;
}
.Menu2 {
    border-color: orange;
}
.Menu3 {
    border-color: yellow;
}
.Menu4 {
    border-color:green;
}
.Menu5 {
    border-color:blue;
}
.Menu6 {
    border-color:indigo;
}
.Menu7 {
    border-color: violet;
}
.intro {
    margin-top: 150px;
    border-style: solid;
    border-color: pink;
    border-width: thin
}

td, th {
    border-style: solid;
    border-width: 3px;
    border-color: chocolate;
}